@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Sofia&display=swap');

:root {
    --primary: #fe2c55;
    --color-text-black: #000;
    --color-text: #333;
    --color-text-white: #fff;

    //Default Layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

.font-family-sofia {
    font-family: 'Sofia', cursive;
}

input,
button,
[tabindex] {
    border: none;
    outline: none;
}

a[href] {
    color: var(--color-text);
    text-decoration: none;
}
